<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Groupie Tracker</title>
  <link rel="icon" href="/static/img/icon/g.png">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link href="/static/css/index.css" rel="stylesheet">
</head>

<body>
  <div class="image_presentation">
    <div class="image-index">
      <div class="title-index">
        <h1>GROUPIE TRACKER</h1>
      </div>
      <div class="text-title-index">
        <h2>Retrouvez les informations sur vos artistes et groupes préférés</h2>
      </div>
      <div class="box-button">
        <a class="button-index" href="/mainPage">
          <text>ENTRER</text>
        </a>
      </div>
    </div>
  </div>

  <div class="infoprojet">
    <div class="API">
      <img src="/static/img/icon/Api.jpg" alt="API">
    </div>
    <div class="text">
      <h3>Groupie Tracker</h3>
      <br>
      <p>Le projet Groupie Tracker a pour finalité de traiter des données à l'aide d'une API. Cette API doit être développé avec le langage GO, et la gestion des données doit etre traitée avec le langage GO.</p>
    </div>
  </div>
  <div class="groupietckr">
    <div class="groupie">
      <img src="/static/img/icon/groupe.jpg" alt="GroupeDeMusique">
    </div>
    <div class="text">
      <h3>Des Artistes</h3>
      <br>
      <p>Sur ce site, vous allez retrouvez les informations de vos artitstes préférés en les cherchant avec des filtres ou leurs noms. De même, vous pourrez également voir les dates des prochains concerts ainsi qu'une multitude d'informations</p>
    </div>
  </div>


  <footer>
    <div class="footerdiv">
        <div class="team">
          <h3> Le Groupe : </h3>
          <p>DOS SANTOS ALVES Kévin</p>
          <p>DJOUDI Yanis</p>
          <p>DRARIS Sofiane</p>
          <p>LAMHAYA Salah eddine</p> 
          <p>MOREN Yohan</p>
        </div>
        <div class="github-link">
          <a href="https://git.ytrack.learn.ynov.com/KALVES/Groupie-Tracker">
            <div><img src="/static/img/icon/github.png" width="50" height="50"></div>
          </a>
        </div>
        <div class="about-us">
          <h3>Qui sommes-nous ?</h3>
          <br>
          <p>Nous sommes des étudiants en première année d'informatique, au sein de l'établissement PARIS YNOV CAMPUS. </p>
        </div>
    </div>
  </footer>
</body>
<script>
  const zoom = () => {
    document.body.style.zoom = "75%" 
  }
</script>
</html>