<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Groupie Tracker</title>
  <link rel="icon" href="/static/img/icon/g.png">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link href="/static/css/index.css" rel="stylesheet">
</head>

<body>
  <div class="image_presentation">
    <div class="image-index">
      <div class="title-index">
        <h1>GROUPIE TRACKER</h1>
      </div>
      <div class="text-title-index">
        <h2>Retrouvez les informations sur vos artistes et groupes préférés</h2>
      </div>
      <div class="box-button">
        <a class="button-index" href="/mainPage">
          <text>ENTRER</text>
        </a>
      </div>
    </div>
  </div>
  <footer>
    <div class="footerdiv">
      <p>coucou</p>
    </div>
  </footer>
</body>
</html>